@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Instrument Serif", serif;


}

nav ul{
    display: flex; 
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand img{
    height: 44px;
    width: 44px;
    padding: 5px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    
}

nav ul li{
    padding:12px;

}

.bottom{
    position: sticky;
    background-color: black;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}



#myprogressbar{
    width: 75vw;
    text-align: center;
}
.icons{
    margin-top: 14px;
    justify-content: space-around;
}

.icons i{
    justify-content: space-between;
    cursor: pointer;
}

.container{ 
    min-height: 66vh;
    background-color: black;
    color: rgb(224, 18, 18);
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");
    background-size: cover;
}

.container h1{
    margin-left: 400px;
}

.songlist #cover1{
    height: 120px;
    width: 110px;
}